@model Grupa1Ozo.Models.UslugaNarudzba

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>UslugaNarudzba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Narudzba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Narudzba.StatusNarudzbe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usluga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usluga.Naziv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UslugaNarudzbaId">Uredi</a> |
    <a asp-action="Index">Natrag</a>
</div>
