@model Grupa1Ozo.Models.Lokacija

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Lokacija</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LokacijaId">Uredi</a> |
    <a asp-action="Index">Natrag</a>
</div>
